<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.java.com.dreampig.arbitrationservice.mapper.LoanStatementDataMapper">
  <resultMap id="BaseResultMap" type="main.java.com.dreampig.arbitrationservice.model.LoanStatementData">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ACCOUNT_STATEMENT_CODE" jdbcType="VARCHAR" property="accountStatementCode" />
    <result column="ACCOUNT_STATEMENT_RETURN" jdbcType="VARCHAR" property="accountStatementReturn" />
    <result column="LENDER_ACCOUNT_NO" jdbcType="VARCHAR" property="lenderAccountNo" />
    <result column="LENDER_BANK" jdbcType="VARCHAR" property="lenderBank" />
    <result column="RECEIVE_ACCOUNT_NO" jdbcType="VARCHAR" property="receiveAccountNo" />
    <result column="STATEMENT_AMOUNT" jdbcType="DECIMAL" property="statementAmount" />
    <result column="TRADE_DATE" jdbcType="DATE" property="tradeDate" />
    <result column="BUSINESS_CODE01" jdbcType="VARCHAR" property="businessCode01" />
    <result column="BUSINESS_CODE02" jdbcType="VARCHAR" property="businessCode02" />
    <result column="BUSINESS_CODE03" jdbcType="VARCHAR" property="businessCode03" />
    <result column="IMPORT_TIME" jdbcType="TIMESTAMP" property="importTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ACCOUNT_STATEMENT_CODE, ACCOUNT_STATEMENT_RETURN, LENDER_ACCOUNT_NO, LENDER_BANK, 
    RECEIVE_ACCOUNT_NO, STATEMENT_AMOUNT, TRADE_DATE, BUSINESS_CODE01, BUSINESS_CODE02, 
    BUSINESS_CODE03, IMPORT_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_loan_statement
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_loan_statement
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="main.java.com.dreampig.arbitrationservice.model.LoanStatementData">
    insert into t_loan_statement (ID, ACCOUNT_STATEMENT_CODE, ACCOUNT_STATEMENT_RETURN, 
      LENDER_ACCOUNT_NO, LENDER_BANK, RECEIVE_ACCOUNT_NO, 
      STATEMENT_AMOUNT, TRADE_DATE, BUSINESS_CODE01, 
      BUSINESS_CODE02, BUSINESS_CODE03, IMPORT_TIME
      )
    values (#{id,jdbcType=BIGINT}, #{accountStatementCode,jdbcType=VARCHAR}, #{accountStatementReturn,jdbcType=VARCHAR}, 
      #{lenderAccountNo,jdbcType=VARCHAR}, #{lenderBank,jdbcType=VARCHAR}, #{receiveAccountNo,jdbcType=VARCHAR}, 
      #{statementAmount,jdbcType=DECIMAL}, #{tradeDate,jdbcType=DATE}, #{businessCode01,jdbcType=VARCHAR}, 
      #{businessCode02,jdbcType=VARCHAR}, #{businessCode03,jdbcType=VARCHAR}, #{importTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="main.java.com.dreampig.arbitrationservice.model.LoanStatementData">
    insert into t_loan_statement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="accountStatementCode != null">
        ACCOUNT_STATEMENT_CODE,
      </if>
      <if test="accountStatementReturn != null">
        ACCOUNT_STATEMENT_RETURN,
      </if>
      <if test="lenderAccountNo != null">
        LENDER_ACCOUNT_NO,
      </if>
      <if test="lenderBank != null">
        LENDER_BANK,
      </if>
      <if test="receiveAccountNo != null">
        RECEIVE_ACCOUNT_NO,
      </if>
      <if test="statementAmount != null">
        STATEMENT_AMOUNT,
      </if>
      <if test="tradeDate != null">
        TRADE_DATE,
      </if>
      <if test="businessCode01 != null">
        BUSINESS_CODE01,
      </if>
      <if test="businessCode02 != null">
        BUSINESS_CODE02,
      </if>
      <if test="businessCode03 != null">
        BUSINESS_CODE03,
      </if>
      <if test="importTime != null">
        IMPORT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="accountStatementCode != null">
        #{accountStatementCode,jdbcType=VARCHAR},
      </if>
      <if test="accountStatementReturn != null">
        #{accountStatementReturn,jdbcType=VARCHAR},
      </if>
      <if test="lenderAccountNo != null">
        #{lenderAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="lenderBank != null">
        #{lenderBank,jdbcType=VARCHAR},
      </if>
      <if test="receiveAccountNo != null">
        #{receiveAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="statementAmount != null">
        #{statementAmount,jdbcType=DECIMAL},
      </if>
      <if test="tradeDate != null">
        #{tradeDate,jdbcType=DATE},
      </if>
      <if test="businessCode01 != null">
        #{businessCode01,jdbcType=VARCHAR},
      </if>
      <if test="businessCode02 != null">
        #{businessCode02,jdbcType=VARCHAR},
      </if>
      <if test="businessCode03 != null">
        #{businessCode03,jdbcType=VARCHAR},
      </if>
      <if test="importTime != null">
        #{importTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="main.java.com.dreampig.arbitrationservice.model.LoanStatementData">
    update t_loan_statement
    <set>
      <if test="accountStatementCode != null">
        ACCOUNT_STATEMENT_CODE = #{accountStatementCode,jdbcType=VARCHAR},
      </if>
      <if test="accountStatementReturn != null">
        ACCOUNT_STATEMENT_RETURN = #{accountStatementReturn,jdbcType=VARCHAR},
      </if>
      <if test="lenderAccountNo != null">
        LENDER_ACCOUNT_NO = #{lenderAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="lenderBank != null">
        LENDER_BANK = #{lenderBank,jdbcType=VARCHAR},
      </if>
      <if test="receiveAccountNo != null">
        RECEIVE_ACCOUNT_NO = #{receiveAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="statementAmount != null">
        STATEMENT_AMOUNT = #{statementAmount,jdbcType=DECIMAL},
      </if>
      <if test="tradeDate != null">
        TRADE_DATE = #{tradeDate,jdbcType=DATE},
      </if>
      <if test="businessCode01 != null">
        BUSINESS_CODE01 = #{businessCode01,jdbcType=VARCHAR},
      </if>
      <if test="businessCode02 != null">
        BUSINESS_CODE02 = #{businessCode02,jdbcType=VARCHAR},
      </if>
      <if test="businessCode03 != null">
        BUSINESS_CODE03 = #{businessCode03,jdbcType=VARCHAR},
      </if>
      <if test="importTime != null">
        IMPORT_TIME = #{importTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="main.java.com.dreampig.arbitrationservice.model.LoanStatementData">
    update t_loan_statement
    set ACCOUNT_STATEMENT_CODE = #{accountStatementCode,jdbcType=VARCHAR},
      ACCOUNT_STATEMENT_RETURN = #{accountStatementReturn,jdbcType=VARCHAR},
      LENDER_ACCOUNT_NO = #{lenderAccountNo,jdbcType=VARCHAR},
      LENDER_BANK = #{lenderBank,jdbcType=VARCHAR},
      RECEIVE_ACCOUNT_NO = #{receiveAccountNo,jdbcType=VARCHAR},
      STATEMENT_AMOUNT = #{statementAmount,jdbcType=DECIMAL},
      TRADE_DATE = #{tradeDate,jdbcType=DATE},
      BUSINESS_CODE01 = #{businessCode01,jdbcType=VARCHAR},
      BUSINESS_CODE02 = #{businessCode02,jdbcType=VARCHAR},
      BUSINESS_CODE03 = #{businessCode03,jdbcType=VARCHAR},
      IMPORT_TIME = #{importTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.dreampig.arbitrationservice.model.LoanStatementData">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ACCOUNT_STATEMENT_CODE" jdbcType="VARCHAR" property="accountStatementCode" />
    <result column="ACCOUNT_STATEMENT_RETURN" jdbcType="VARCHAR" property="accountStatementReturn" />
    <result column="LENDER_ACCOUNT_NO" jdbcType="VARCHAR" property="lenderAccountNo" />
    <result column="LENDER_BANK" jdbcType="VARCHAR" property="lenderBank" />
    <result column="RECEIVE_ACCOUNT_NO" jdbcType="VARCHAR" property="receiveAccountNo" />
    <result column="STATEMENT_AMOUNT" jdbcType="DECIMAL" property="statementAmount" />
    <result column="TRADE_DATE" jdbcType="DATE" property="tradeDate" />
    <result column="BUSINESS_CODE01" jdbcType="VARCHAR" property="businessCode01" />
    <result column="BUSINESS_CODE02" jdbcType="VARCHAR" property="businessCode02" />
    <result column="BUSINESS_CODE03" jdbcType="VARCHAR" property="businessCode03" />
    <result column="IMPORT_TIME" jdbcType="TIMESTAMP" property="importTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ACCOUNT_STATEMENT_CODE, ACCOUNT_STATEMENT_RETURN, LENDER_ACCOUNT_NO, LENDER_BANK, 
    RECEIVE_ACCOUNT_NO, STATEMENT_AMOUNT, TRADE_DATE, BUSINESS_CODE01, BUSINESS_CODE02, 
    BUSINESS_CODE03, IMPORT_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_loan_statement
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_loan_statement
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dreampig.arbitrationservice.model.LoanStatementData">
    insert into t_loan_statement (ID, ACCOUNT_STATEMENT_CODE, ACCOUNT_STATEMENT_RETURN, 
      LENDER_ACCOUNT_NO, LENDER_BANK, RECEIVE_ACCOUNT_NO, 
      STATEMENT_AMOUNT, TRADE_DATE, BUSINESS_CODE01, 
      BUSINESS_CODE02, BUSINESS_CODE03, IMPORT_TIME
      )
    values (#{id,jdbcType=BIGINT}, #{accountStatementCode,jdbcType=VARCHAR}, #{accountStatementReturn,jdbcType=VARCHAR}, 
      #{lenderAccountNo,jdbcType=VARCHAR}, #{lenderBank,jdbcType=VARCHAR}, #{receiveAccountNo,jdbcType=VARCHAR}, 
      #{statementAmount,jdbcType=DECIMAL}, #{tradeDate,jdbcType=DATE}, #{businessCode01,jdbcType=VARCHAR}, 
      #{businessCode02,jdbcType=VARCHAR}, #{businessCode03,jdbcType=VARCHAR}, #{importTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dreampig.arbitrationservice.model.LoanStatementData">
    insert into t_loan_statement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="accountStatementCode != null">
        ACCOUNT_STATEMENT_CODE,
      </if>
      <if test="accountStatementReturn != null">
        ACCOUNT_STATEMENT_RETURN,
      </if>
      <if test="lenderAccountNo != null">
        LENDER_ACCOUNT_NO,
      </if>
      <if test="lenderBank != null">
        LENDER_BANK,
      </if>
      <if test="receiveAccountNo != null">
        RECEIVE_ACCOUNT_NO,
      </if>
      <if test="statementAmount != null">
        STATEMENT_AMOUNT,
      </if>
      <if test="tradeDate != null">
        TRADE_DATE,
      </if>
      <if test="businessCode01 != null">
        BUSINESS_CODE01,
      </if>
      <if test="businessCode02 != null">
        BUSINESS_CODE02,
      </if>
      <if test="businessCode03 != null">
        BUSINESS_CODE03,
      </if>
      <if test="importTime != null">
        IMPORT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="accountStatementCode != null">
        #{accountStatementCode,jdbcType=VARCHAR},
      </if>
      <if test="accountStatementReturn != null">
        #{accountStatementReturn,jdbcType=VARCHAR},
      </if>
      <if test="lenderAccountNo != null">
        #{lenderAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="lenderBank != null">
        #{lenderBank,jdbcType=VARCHAR},
      </if>
      <if test="receiveAccountNo != null">
        #{receiveAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="statementAmount != null">
        #{statementAmount,jdbcType=DECIMAL},
      </if>
      <if test="tradeDate != null">
        #{tradeDate,jdbcType=DATE},
      </if>
      <if test="businessCode01 != null">
        #{businessCode01,jdbcType=VARCHAR},
      </if>
      <if test="businessCode02 != null">
        #{businessCode02,jdbcType=VARCHAR},
      </if>
      <if test="businessCode03 != null">
        #{businessCode03,jdbcType=VARCHAR},
      </if>
      <if test="importTime != null">
        #{importTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dreampig.arbitrationservice.model.LoanStatementData">
    update t_loan_statement
    <set>
      <if test="accountStatementCode != null">
        ACCOUNT_STATEMENT_CODE = #{accountStatementCode,jdbcType=VARCHAR},
      </if>
      <if test="accountStatementReturn != null">
        ACCOUNT_STATEMENT_RETURN = #{accountStatementReturn,jdbcType=VARCHAR},
      </if>
      <if test="lenderAccountNo != null">
        LENDER_ACCOUNT_NO = #{lenderAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="lenderBank != null">
        LENDER_BANK = #{lenderBank,jdbcType=VARCHAR},
      </if>
      <if test="receiveAccountNo != null">
        RECEIVE_ACCOUNT_NO = #{receiveAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="statementAmount != null">
        STATEMENT_AMOUNT = #{statementAmount,jdbcType=DECIMAL},
      </if>
      <if test="tradeDate != null">
        TRADE_DATE = #{tradeDate,jdbcType=DATE},
      </if>
      <if test="businessCode01 != null">
        BUSINESS_CODE01 = #{businessCode01,jdbcType=VARCHAR},
      </if>
      <if test="businessCode02 != null">
        BUSINESS_CODE02 = #{businessCode02,jdbcType=VARCHAR},
      </if>
      <if test="businessCode03 != null">
        BUSINESS_CODE03 = #{businessCode03,jdbcType=VARCHAR},
      </if>
      <if test="importTime != null">
        IMPORT_TIME = #{importTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dreampig.arbitrationservice.model.LoanStatementData">
    update t_loan_statement
    set ACCOUNT_STATEMENT_CODE = #{accountStatementCode,jdbcType=VARCHAR},
      ACCOUNT_STATEMENT_RETURN = #{accountStatementReturn,jdbcType=VARCHAR},
      LENDER_ACCOUNT_NO = #{lenderAccountNo,jdbcType=VARCHAR},
      LENDER_BANK = #{lenderBank,jdbcType=VARCHAR},
      RECEIVE_ACCOUNT_NO = #{receiveAccountNo,jdbcType=VARCHAR},
      STATEMENT_AMOUNT = #{statementAmount,jdbcType=DECIMAL},
      TRADE_DATE = #{tradeDate,jdbcType=DATE},
      BUSINESS_CODE01 = #{businessCode01,jdbcType=VARCHAR},
      BUSINESS_CODE02 = #{businessCode02,jdbcType=VARCHAR},
      BUSINESS_CODE03 = #{businessCode03,jdbcType=VARCHAR},
      IMPORT_TIME = #{importTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>